[Desktop Entry]
Name=DWM
Comment=A Suckless WM
Exec=/usr/local/bin/dwm
Terminal=false
TryExec=/usr/local/bin/dwm
Type=Application

[X-Window Manager]
SessionManaged=true
